.featured-image {
  display: block !important;
  width: 100% !important;

  text-align: center !important;

  }
  .featured-image img {
  display: inline-block !important;
  height: 500px !important;
  width: 100% !important;
  object-fit: cover;
  }
